.list-trending-item {
  list-style-type: none;
  width: 250px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  align-items: flex-start;
  width: 80%;
  padding-top: none;
  margin-bottom: 20px;
}

.trending-thumbnail-image {
  width: 300px;
  height: 100%;
  background-size: cover;
}

.trending-para-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.channel-para {
  font-family: Roboto;
  color: #212121;
}

.channel-title {
  color: #1e293b;
  font-weight: 500;
  font-size: 20px;
}
